API_KEY=
OPENROUTER_MODEL=qwen/qwen3.6-27b
OPENROUTER_BASE_URL=https://ai.psu.blue/v1

LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

REFERENCE_PDF_PATH=src/REPORT2568.pdf
REFERENCE_PAGE_START=30
REFERENCE_PAGE_END=50